<div *ngIf="session">
    <h2>{{ session.name }}</h2>
    <h3>Now Playing: {{ currentTrack?.title }} by {{ currentTrack?.artist }}</h3>
  
    <div>
      <button (click)="startSession()" class="btn-shared btn-primary mb-3.5" [disabled]="this.playlist.length<=0">Start Session</button>
      <button (click)="stopSession()" class="btn-shared btn-primary mb-3.5">Stop Session</button>
      <button (click)="leaveSession()" class="btn-shared btn-secondary mb-3.5">Leave Session</button>
    </div>
  
    <div>
      <app-lecteur
      [session]="session"
      [currentTrack]="currentTrack"
    ></app-lecteur>    </div>
  
    <div>
      <h3>Etat Session</h3>
      <div>{{session.status}}</div>
    </div>
    <div>
      <h3>Temps</h3>
      <div>{{session.startTime}}</div>
    </div>

    <div>
      <h3>Playlist</h3>
      <ul>
        <li *ngFor="let track of playlist">
          {{ track.title }} - {{ track.artist }}
        </li>
      </ul>
    </div>
  
    <div>
      <h3>Users</h3>
      <ul>
        <li *ngFor="let user of session.users">
          {{ user.userName }} - {{ user.score }}
        </li>
      </ul>
    </div>
  
    <div>
      <h3>Scores</h3>
      <table>
        <thead>
          <tr>
            <th>Player</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let score of scores">
            <td>{{ score.user.userName }}</td>
            <td>{{ score.score }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  