@if(connected) {
  <div class="admin-container">
    <h2>Create Session</h2>
    <div class="p-fluid form-container">
      <app-input-text [(ngModel)]="sessionName" type="text" placeholder="Session Name"></app-input-text>
      <button (click)="createSession()" class="btn-shared btn-primary mb-3.5">Create Session</button>
    </div>

    <app-select-session [sessions]="sessions"></app-select-session>

    <div *ngIf="selectedSessionId" class="button-group">
      <button (click)="startSession()" class="btn-shared btn-primary mb-3.5">Start Session</button>
      <button (click)="joinSession()" class="btn-shared btn-secondary mb-3.5">Join Session</button>
    </div>

    <app-lecteur [session]="session"></app-lecteur>
    <app-display-playlist [playlist]="playlist"></app-display-playlist>

    <router-outlet></router-outlet>
  </div>
} @else {
  <ng-container *ngTemplateOutlet="logintemplate"></ng-container>
}

<ng-template #logintemplate>
  <app-login-button></app-login-button>
</ng-template>
