<div class="admin-container">
  <!-- Sidebar / Menu -->
  <div class="sidebar">
    <p-panelMenu [model]="menuItems"></p-panelMenu>
  </div>

  <!-- Content Area -->
  <div class="content">
    <div class="header">
      <h2 class="title">Admin Dashboard</h2>
    </div>

    <!-- Onglets pour naviguer entre les options
    <div class="tab-container">
      <button (click)="navigateToBlindTests()" [class.active]="activeTab === 'blind-tests'">Mes Blind Tests</button>
      <button (click)="navigateToCreateBlindTest()" [class.active]="activeTab === 'create-blind-test'">Créer un Blind Test</button>
    </div> -->

    <!-- Zone de contenu en fonction de l'onglet actif -->
    <!-- <div class="main-content">
      <ng-container *ngIf="activeTab === 'blind-tests'">
        <h3>Mes Blind Tests</h3>
        <div *ngFor="let blindTest of sessions" class="blindtest-item">
          {{ blindTest.name }} - <button (click)="openBlindTest(blindTest.id)">Ouvrir</button>
        </div>
        <button (click)="navigateToCreateBlindTest()" class="add-btn">+ Ajouter un Blind Test</button>
      </ng-container>

      <ng-container *ngIf="activeTab === 'create-blind-test'">
        <h3>Créer un Blind Test</h3>
        <div class="p-fluid form-container">
          <app-input-text [(ngModel)]="sessionName" type="text" placeholder="Nom du Blind Test"></app-input-text>
          <button (click)="createSession()" class="btn-primary">Créer</button>
        </div>
      </ng-container>
    </div> -->
    <div class="content-container">
      <div class="card-button" (click)="navigateToCreateBlindTest()">
        <i class="pi pi-plus"></i> Ajouter un Blind Test
      </div>
    </div>

    <button (click)="logout()" class="logout-btn">Logout</button>
  </div>
</div>
