<div class="body-container">
  <p-tabView [(activeIndex)]="activeIndex" class="custom-tabview">

    <!-- Onglet Login Admin -->
    <p-tabPanel header="Login Admin">
      <div class="panel-content">
        <h2>Login Admin</h2>
        <div class="p-fluid form-container">
          <app-input-text placeholder="Username" [(ngModel)]="userName"></app-input-text>
          <app-input-text type="password" placeholder="Password" [(ngModel)]="password"></app-input-text>
          <button (click)="loginAsAdmin()" class="btn-shared btn-secondary mb-3.5">Login</button>
        </div>
      </div>
    </p-tabPanel>

    <!-- Onglet Create Admin -->
    <p-tabPanel header="Create Admin">
      <div class="panel-content">
        <h2>Create Admin</h2>
        <div class="p-fluid form-container">
          <app-input-text placeholder="Admin Username" [(ngModel)]="userName"></app-input-text>
          <app-input-text type="password" placeholder="Password" [(ngModel)]="password"></app-input-text>
          <button (click)="createAdmin()" class="btn-shared btn-secondary mb-3.5">Create Admin</button>
        </div>
      </div>
    </p-tabPanel>
  </p-tabView>
</div>
