<!--<div>-->
<!--  <h1>User Panel</h1>-->

<!--  &lt;!&ndash; User creation section &ndash;&gt;-->
<!--  <div *ngIf="!userId">-->
<!--    <label>User Name:</label>-->
<!--    <input [(ngModel)]="userName" placeholder="Enter your name">-->
<!--    <button (click)="createUser()">Create User</button>-->
<!--  </div>-->

<!--  &lt;!&ndash; Session selection and join section &ndash;&gt;-->
<!--  <app-select-session-->
<!--    [sessions]="sessions"-->
<!--    (sessionSelected)="onSessionSelected($event)"-->
<!--    (sessionJoined)="onSessionJoined($event)"></app-select-session>-->
<!--    <button (click)="leaveSession()" class="btn-shared btn-secondary mb-3.5">Leave Session</button>-->


<!--  &lt;!&ndash; Session details and interaction section &ndash;&gt;-->
<!--  <ng-container *ngIf="session">-->
<!--    <h2>Session: {{ session.name }}</h2>-->

<!--    <div *ngIf="showCountdown">-->
<!--      <h3>Next round starts in {{ countdown }} seconds...</h3>-->
<!--    </div>-->

<!--    <div *ngIf="!showCountdown && sessionStarted">-->
<!--      <p>Round {{ round }}</p>-->
<!--      -->
<!--      &lt;!&ndash; Afficher le bouton "Buzz" seulement si la session n'est pas en pause et que l'utilisateur n'a pas encore buzzé &ndash;&gt;-->
<!--      <button class="buzz-button" (click)="buzz()" *ngIf="!sessionPaused && !hasBuzzed">Buzz</button>-->
<!--    -->
<!--      &lt;!&ndash; Afficher le formulaire de réponse seulement si l'utilisateur a buzzé et que la session n'est pas en pause &ndash;&gt;-->
<!--      <div class="answer-form" *ngIf="hasBuzzed && !sessionPaused">-->
<!--        <label>Title:</label>-->
<!--        <input [(ngModel)]="title" placeholder="Enter title">-->
<!--        <label>Artist:</label>-->
<!--        <input [(ngModel)]="artist" placeholder="Enter artist">-->
<!--        <button (click)="submitAnswer(title, artist)" *ngIf="showSubmitButton">Submit</button>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div *ngIf="showRanking">-->
<!--      <h2>Ranking</h2>-->
<!--      <ul>-->
<!--        <li *ngFor="let rank of ranking">-->
<!--          {{ rank.userName }} - Score: {{ rank.score }}-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->

<!--    <button (click)="logout()">Logout</button>-->
<!--  </ng-container>-->
<!--  <div>-->
<div class="centered-content" [ngClass]="{
  'waiting-bg': session?.status === 'waiting',
  'ready-bg': showCountdown || session?.status === 'pause',
  'question-bg': session?.status === 'in-progress',
}">
  <!-- Lorsque le statut est "waiting" -->
  <ng-container *ngIf="session?.status === 'waiting'">
    <h1 class="status-heading">Vous êtes dedans !</h1>
    <p class="status-message">Tu vois ton nom sur l'écran ?</p>
  </ng-container>

  <!-- Lorsque le statut est "ready" -->
  <ng-container *ngIf="session?.status === 'ready'">
    <h1 class="status-heading">Êtes-vous prêt ?</h1>
    <p class="status-message">Loading...</p>
    <div class="spinner"></div>
  </ng-container>

  <!-- Lorsque le statut est "question" -->
  <ng-container *ngIf="session?.status === 'in-progress'">
    <h1 class="status-heading">Question {{ round }}</h1>

    <!-- Affichage du compte à rebours -->
    <div class="countdown-container" *ngIf="showCountdown">
      <div class="circle-spinner"></div>
      <div class="countdown-number">{{ countdown }}</div>
    </div>

    <!-- Affichage du bouton "Buzz" et du formulaire après la fin du compte à rebours -->
    <ng-container *ngIf="!showCountdown">
      <!-- Affichage du bouton "Buzz" si l'utilisateur n'a pas encore buzzé -->
      <button class="buzz-button" (click)="buzz()" *ngIf="!hasBuzzed">Buzz</button>

      <!-- Formulaire de réponse affiché après le buzz -->
      <div class="answer-form" *ngIf="hasBuzzed">
        <div class="form-group">
          <label for="title">Title:</label>
          <input id="title" [(ngModel)]="title" placeholder="Enter title">
        </div>
        <div class="form-group">
          <label for="artist">Artist:</label>
          <input id="artist" [(ngModel)]="artist" placeholder="Enter artist">
        </div>
        <div class="form-group form-submit">
          <button (click)="submitAnswer(title, artist)" *ngIf="showSubmitButton">Submit</button>
        </div>
      </div>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="session?.status === 'pause' || sessionPaused">
    <h1 class="status-heading">Pause</h1>
    <div class="spinner"></div> <!-- Affichage d'un spinner infini -->
  
    <!-- Afficher les scores pendant la pause si showRanking est vrai -->
    <ng-container *ngIf="showRanking">
      <div class="scoreboard-container">
        <h1>Scoreboard</h1>
        <div *ngFor="let user of userScores" class="score-row">
          <span class="user-name">{{ user.userName }}</span>
          <span class="user-score">{{ user.score }}</span>
        </div>
      </div>
    </ng-container>
  </ng-container>

  


  
</div>

