

  <div>
    <app-input-text type="text" [(ngModel)]="searchTerm" placeholder="Search for music"></app-input-text>
    <button (click)="search()" class="btn-shared btn-primary mb-3.5">Search</button>
  </div>

  <div *ngIf="searchResults.length > 0">
    <h2>Ajouter une musique</h2>
    <ul>
      <li *ngFor="let track of searchResults" class="d-flex justify-content-between align-items-center mb-2">
        <div class="d-flex align-items-center">
          <img [src]="track.album.images[0]?.url" alt="Album Art" width="50" class="me-3">
          <span>{{ track.name }} by {{ track.artists[0]?.name }}</span>
        </div>
        <button (click)="addTrackToPlaylist(track)" class="btn btn-link" data-bs-toggle="tooltip" title="Add to Playlist">
          <fa-icon [icon]="faPlus"></fa-icon> <!-- Utilisation de l'icône -->
        </button>
      </li>
      
    </ul>
</div>


  <div *ngIf="currentTrack">
    <h2>{{ currentTrack.title }} by {{ currentTrack.artist }}</h2>
    <div *ngIf="currentTrack.image">
      <img [src]="currentTrack.image" alt="Album Art" width="300">
    </div>
    <div>
      <input type="range" min="0" [max]="trackDuration" [value]="timeProgress" readonly>
    </div>
    <div>
      <button (click)="playPlaylistTrack(this.playlist[0])" *ngIf="playlist.length > 0">Play</button>
      <button (click)="pause()" *ngIf="isPlaying">Pause</button>
      <button (click)="resume()" *ngIf="!isPlaying">Resume</button>
      <button (click)="nextTrack()">Next</button>
      <button (click)="previousTrack()">Previous</button>
    </div>
  </div>

  <!-- <div>
    <h2>Submit Answer</h2>
    <app-input-text type="text" placeholder="Title" #title></app-input-text>
    <app-input-text type="text" placeholder="Artist" #artist></app-input-text>
    <button (click)="submitAnswer(title.value, artist.value)"  class="btn-shared btn-primary mb-3.5">Submit</button>
  </div> -->
